extends layout

block content
  div.well
    h1= title
    h2 in test jade
  p Welcome Mr. #{author}
  p this is just a test
  p
  div#pie.well
     h5 By Miquel Muntaner for testing purposes
     h6 UOC TFM
